@use "vars";

#broker-results {
    max-width: vars.$max-width;

    .brokers-section-title {
        color: vars.$secondary-text-color;
        font-size: 30px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.225px;
    }

    .broker-cards {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;

        flex-wrap: wrap;
        column-gap: vars.$broker-column-gap;
        row-gap: vars.$broker-row-gap;

        .broker-card {
                
            display: flex;

            border-radius: 0px 12px 12px 0px;
            border: 2px solid var(--Secondary-Default, #E4ECF7);
            border-left: 4px solid #3184F7;
            background: #FFF;

            padding: 30px;

            /* Sho */
            box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

            .broker-image {
                width: 150px;
                height: 150px;
                object-fit: cover;
                object-position: top center;
                background: vars.$border-color;
                border-radius: 100%;

                margin-right: 30px;
            }

            .broker-info {

                p {
                    margin: 0;
                }
                a{
                    text-decoration: none;
                    color: vars.$main-text-color;
                }

               .broker-name-container {
                    display: flex;
                    align-items: center;
                    margin-top: 10PX;

                    .broker-name {
                        margin: 0px;
                        vertical-align: middle;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 28px;
                        color: vars.$main-text-color;
                    }

                    .arrow-right {
                        height: 24px;
                        width: 24px;
                        margin-left: 10px;
                    }
                
               }

               .broker-title {
                    color: vars.$secondary-text-color;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    margin-bottom: 19px;
               }
               .broker-email {
                    a {
                        color: vars.$secondary-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        text-decoration: none;
                    }
               }
               .broker-phone {
                    a {
                        color: vars.$secondary-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        text-decoration: none;
                    }
               }
            }
        }
    }
}