@use "vars";

#broker-results {
    max-width: vars.$max-width;

    .brokers-section-title {
        color: vars.$secondary-text-color;
        font-size: 30px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.225px;
    }

    .broker-cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: vars.$broker-column-gap;
        row-gap: vars.$broker-row-gap;

        .broker-card {
            flex: 0 0 calc((100% - 3 * vars.$broker-column-gap) / 4);

            @media screen and (max-width: vars.$breakpoint-x-large) {
                flex: 0 0 calc((100% - 3 * vars.$broker-column-gap) / 3);
            }
            @media screen and (max-width: vars.$breakpoint-large) {
                flex: 0 0 calc((100% - 3 * vars.$broker-column-gap) / 2);
            }
            @media screen and (max-width: vars.$breakpoint-med) {
                flex: 0 0 100%;
            }

            .broker-image {
                height: 325px;
                width: 100%;
                object-fit: cover;
                background: vars.$border-color;
            }
            .broker-info {

                p {
                    margin: 0;
                }
                a{
                    text-decoration: none;
                }

               .broker-name-container {
                    display: flex;
                    align-items: center;
                    margin-top: 10PX;

                    .broker-name {
                        margin: 0px;
                        vertical-align: middle;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 28px;
                        color: vars.$main-text-color;
                    }

                    .arrow-right {
                        height: 24px;
                        width: 24px;
                        margin-left: 10px;
                    }
                
               }

               .broker-title {
                    color: vars.$secondary-text-color;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    margin-bottom: 19px;
               }
               .broker-email {
                    a {
                        color: vars.$secondary-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        text-decoration: none;
                    }
               }
               .broker-phone {
                    a {
                        color: vars.$secondary-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        text-decoration: none;
                    }
               }
            }
        }
    }
}