@use "vars";

.ysp-broker-cards {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;

    flex-wrap: wrap;
    column-gap: vars.$broker-column-gap;
    row-gap: vars.$broker-row-gap;

    .ysp-broker-card {
            
        display: flex;

        border-radius: 0px 12px 12px 0px;
        border: 2px solid var #E4ECF7;
        border-left: 4px solid vars.$featured-color;
        background: #FFF;

        padding: 30px;

        /* Sho */
        box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

        .broker-image {
            width: 150px;
            height: 150px;

            object-fit: cover;
            object-position: top center;
            
            border-radius: 100%;

            margin-right: 30px;
        }

        .broker-info {

            p {
                margin: 0;
            }

            a{
                text-decoration: none;
                color: vars.$main-text-color;
            }

           .broker-name-container {
                display: flex;           
                align-items: center;
           }

        }
    }
}