@use "vars";

.yacht-general-info-container {
    background-color: #ffffff;

    .yacht-title-container {
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid #cbd5e1;
      height: 61px;

      .yacht-title {
        font-size: 14px;
        font-weight: 500;
        
        color: #000;
        margin: 0px;
        padding: 10px 92px 10px 18px;
      }
    }
    .yacht-info-container {
      padding: 20px 18px 10px 18px;
      border-bottom: 1px solid #cbd5e1;

      .yacht-info {
        .yacht-individual-container {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;

          p {
            margin: 0;
          }
          .yacht-individual-title {
            font-size: 14px;
            font-weight: 500;
            
            color: #000;
          }
          .yacht-individual-value {
            font-size: 14px;
            font-weight: 400;
            
            color: #000;
          }
        }
      }
    }
    .yacht-price-details-container {
      display: flex;
      width: 100%;

      .yacht-price-container {
        display: flex;
        align-items: center;
        padding: 10px 18px 10px 18px;
        margin-right: auto;

        .yacht-price {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
          
          color: #000;
        }
      }
      .yacht-details {
        padding: 10px 18px 10px 18px;
        align-self: flex-end;
        background-color: vars.$button-bg-color;
        color: vars.$white-color;
        text-decoration: none;
      }
    }
  }