@use 'vars';

.ysp-h-yacht-search-form{
    @media  screen and (max-width: vars.$breakpoint-x-large) {
        margin-top: 30px;
    }

    .ys-h-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;

        .ysp-s-field {
            position: relative;
            flex: 0 0 calc(20% - 30px);
            box-sizing: border-box;
            width: 100%;

            @media screen and (max-width: vars.$breakpoint-x-large) {
                flex: 0 0 calc(25% - 30px);
            }

            @media screen and (max-width: vars.$breakpoint-large) {
                flex: 0 0 calc(33% - 30px);
            }

            @media screen and (max-width: vars.$breakpoint-med) {
                flex: 0 0 calc(50% - 30px);
            }

            @media screen and (max-width: vars.$breakpoint-small) {
                flex: 0 0 100%;
            }


            input[type="submit"] {
                background-color: vars.$button-bg-color;
                color: vars.$button-text-color;
                
                width: 100%;
                
                &:hover{
                    background-color: vars.$button-bg-color;
                    color: vars.$button-text-color;
                }
            }

        }

        .submit-container {
            label {
                color: transparent;
            }

            @media screen and (max-width: vars.$breakpoint-med) {
                flex: 0 0 100%;
            }
        }
    }
}