@use "vars";

.yacht-mobile-form-container {
    display: none;

    @media screen and (max-width: vars.$breakpoint-large) {
        display: block;
    }

    @media screen and (max-width: vars.$breakpoint-small) {
        margin: 0px 20px;
    }

    .yacht-form-title {
        color: #000;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.1px;
        margin-bottom: 30px;
    }
}