@use "vars";

.ysp-general-button, .ysp-btn {
    display: inline-block;

    background-color: vars.$button-bg-color !important;
    color: vars.$button-text-color !important;
    border: none !important;

    width: 100%;

    padding: 15px;
    height: 50px;

    &:hover{
        background-color: vars.$button-bg-color !important;
        color: vars.$button-text-color !important;
    }

    a{
        background-color: vars.$button-bg-color !important;
        color: vars.$button-text-color !important;

        &:hover{
            background-color: vars.$button-bg-color !important;
            color: vars.$button-text-color !important;
        }
    }
}