@use "vars";

#quick-h-search-container{
    //max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
    @media  screen and (max-width: vars.$breakpoint-x-large) {
        margin-top: 30px;
    }

    .ys-h-row {
        display: flex !important;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;

        .ys-h-row-item {
            position: relative;
            flex: 0 0 calc(20% - 10px);
            box-sizing: border-box;
            width: 100%;

            @media screen and (max-width: vars.$breakpoint-x-large) {
                flex: 0 0 calc(25% - 10px);
            }

            @media screen and (max-width: vars.$breakpoint-large) {
                flex: 0 0 calc(33% - 10px);
            }

            @media screen and (max-width: vars.$breakpoint-med) {
                flex: 0 0 calc(50% - 10px);
            }

            @media screen and (max-width: vars.$breakpoint-small) {
                flex: 0 0 100%;
            }

            label {
                display: block;
                font-size: 12px;
                font-weight: 400;
                line-height: 11px;
                margin-bottom: 10px;
            }

            select {
                padding: 8px 12px;
                width: 100%;
                height: 40px;
                border-radius: 0px;
                border: 1px solid #D9D9D9;
                -moz-appearance: none;
                -webkit-appearance: none;
            }

            select::-ms-expand {
                display: none;
            }

            input, select {
                padding: 8px 12px;
                width: 100%;
                height: 40px;
                border-radius: 0px;
                border: 1px solid vars.$button-bg-color;
            }

            svg.search-icon {
                position: absolute;
                right: 12px;
                top: 33px;
            }

            svg.dropdown-icon {
                position: absolute;
                right: 6px;
                top: 33px;
            }

            input[type="submit"] {
                background-color: vars.$button-bg-color;
                color: vars.$button-text-color;
                width: 100%;
                align-self: end !important;
                padding: 8px 12px;
                height: 40px;

                &:hover{
                    background-color: vars.$button-bg-color;
                    color: vars.$button-text-color;
                }
            }
            .min-max-container {
                display: flex;
                justify-content: space-between;
                height: 40px;
                
                input {
                    width: 46%;
                    border: 1px solid vars.$button-bg-color;
                }

                span {
                    color: vars.$border-color;
                    margin-top: 5px;
                }
            }
        }

        .submit-container {
            label {
                color: transparent;
            }

            @media screen and (max-width: vars.$breakpoint-med) {
                flex: 0 0 100%;
            }
        }
    }
}