@use "vars";

.ysp-single-b-container{
    
    .ysp-single-b-split{
        
        display: flex;
        align-items: flex-start;
        gap: 30px;
        
        margin-bottom: 30px;

        .ysp-single-b-main{
            flex-grow: 1;
        }

        .ysp-single-b-sidebar{
            max-width: 400px;
            min-width: 320px;

            border-radius: 12px;
            background: #FFF;
            box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

            padding: 30px;
        }

    }

    .ysp-single-b-card{
       display: flex;

        border-radius: 0px 12px 12px 0px;
        border: 2px solid var(--Secondary-Default, #E4ECF7);
        border-left: 4px solid #3184F7;
        background: #FFF;

        padding: 30px;

        /* Sho */
        box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

         .broker-image {
            width: 250px;
            height: 250px;
            object-fit: cover;
            object-position: top center;
            background: vars.$border-color;
            border-radius: 100%;

            margin-right: 30px;
        }
    }

    .ysp-single-b-contact-form{

    }

    .ysp-single-b-section{
        margin-bottom: 60px;
    }

    .ysp-single-b-contact-form{
        input, textarea, select{
            margin-bottom: 15px;
            
            border-radius: 8px;
            border: 1px solid #CBD5E0;
            background: #FFF;
        }
    }
}