@use "vars";


#content{
    background-color: #FAFAFA;
}

.ysp-single-y-container{
    svg{
        display: inline-block;
        vertical-align: middle;
    }

    #ysp-single-y-image-topper{

        display: flex;
        gap: 15px;

        height: 600px;
        border-radius: 12px;

        img{
            object-fit: cover;
        }

        #ysp-single-y-main-iamge{
            width: 50%;
            height: 100%;
            flex-grow: 1;
        }

        .TwoStack{
            flex-strink: 1;
            width: 50%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;

            img{
                display: block;
                width: 100%;
                height: calc(50% - 15px);
            }

        }

    }

    #ysp-single-y-breadcrumbs{
        border-bottom: 2px solid #E4ECF7;

        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;
            display: flex;
        }

        ul, li, a{
           color: #1A202C; 
        }

        a{
            text-decoration: underline;
        }

        .ysp-single-y-links{
            gap: 15px;

            a{
                text-decoration: none;
            }
        }   
    }


    #ysp-single-y-middle-split{

        display: flex;
        align-items: flex-start;
        gap: 30px;
        
        margin-bottom: 30px;

        .ysp-single-y-main{
            
        }

        .ysp-single-y-sidebar{
            max-width: 400px;
            min-width: 320px;

            border-radius: 12px;
            background: #FFF;
            box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

            padding: 30px;
        }
    }

    .ysp-single-y-headings{
        border-bottom: 2px solid #E4ECF7;
        padding-bottom: 30px;
        margin-bottom: 30px;

        h1{
            font-size: 56px;
            font-weight: normal;
           
            color: #2D3748;
        }

        h2{
            font-size: 20px;
            font-weight: normal;
           
            color: #2D3748;
        }

    }

    .ysp-single-y-status-and-price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        padding: 30px 20px;
        margin-bottom: 30px;

        border-radius: 12px;
        background: #F0F3FF;

        .ysp-single-y-price{
            font-size: 36px;
            
            color: #2D3748;
        }
    }

    .ysp-single-y-basic-info-table{
        border: 0px;

        td, th{
            border: 0px;
            border-bottom: 2px solid #E4ECF7;
            text-align: left;
        }

        tr{

        }

    }

    .ysp-single-y-description{

        color: #4A5568;
        font-size: 16px;

        p:empty{
            display: none;
        }

    }

    .ysp-single-y-accord{
        margin-bottom: 30px;

        h3{
            font-size: 24px;
            font-weight: normal;
        }
    }

    .ysp-single-y-details-list{
        columns: 2;

        list-style: none;
        padding: 0px;
        margin: 0px;

        li{

            margin-bottom: 20px;
        }

        span{
            font-weight: bold;

            display: inline-block;
            margin-left: 13px;
            margin-right: 20px;
        }

    }

    .ysp-single-y-sidebar-broker{
        display: flex;
        gap: 15px;

        margin-top: 15px;
        margin-bottom: 15px;

        img#ysp-single-y-broker-image{
            width: 120px;
            height: 120px;
            border-radius: 100%;
            object-fit: cover;
            object-position: top center;
        }

    }

    .ysp-single-y-contact-form{
        input, textarea, select{
            margin-bottom: 15px;
            
            border-radius: 8px;
            border: 1px solid #CBD5E0;
            background: #FFF;
        }
    }

    #ysp-single-y-gallery{
        display: flex;
        gap: 15px;
        height: 680px;

        margin-top: 60px;
        margin-bottom: 60px;

        img{
            object-fit: cover;
            margin: 5px;
        }

    }

    #ysp-single-y-similar-listings{
        h3{
            text-align: center;
            font-size: 44px;
            font-weight: normal;
            margin-bottom: 30px;
        }
    }

    #ysp-single-y-bottom-form{
        display: flex;
        padding: 30px;

        align-items: flex-start;
        justify-content: space-between;
        
        gap: 10px;

        border-radius: 15px;
        background: #E4ECF7;

        h3{
            color: #2D3748;

            font-size: 44px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px; /* 109.091% */
            letter-spacing: -0.88px;
        
            margin-bottom: 30px;
        }
        
        h4{
            color: #3184F7;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 133.333% */
        }

    }

    .ysp-single-y-bottom-broker-profile{
        display: flex;
        gap: 30px; 
        padding: 20px;

        background: #fff;
        border-left: 2px solid #3184F7;
        border-radius: 0px 12px 12px 0px;

        img.broker-image{
            width: 140px;
            height: 140px;
            border-radius: 100%;
            object-fit: cover;
            object-position: top center;
        }
    }

    .ysp-single-y-section{
        margin-bottom: 30px;
    }

}