#ysp-sold-yacht-details {
    // margin: 40px;
    display: flex;

    @media screen and (max-width: $breakpoint-small){
        margin: 0px;
    }

    .yacht-main-container {
        width: 70%;
        
        @media screen and (max-width: $breakpoint-large){
            width: 100%;
        }
    }
}

body{ 
    .yacht-image-container {
        display: flex;
        gap: 5px;

        .big-image{
            object-fit: cover;
            width: 50%;

            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }    

        .TwoXTwo{
            display: flex;
            flex-wrap: wrap;
            
            img{
                display: block;
                object-fit: cover;
                width: 50%;
                padding: 5px; 
                
                &:nth-child(2){
                    border-top-right-radius: 15px;
                }

                &:nth-child(4){
                    border-bottom-right-radius: 15px;
                }
            }
        }
    }
        
        .yacht-main-info-container {
            width: 100%;
            background-color: #F1F5F9;
       
           .yacht-main-info {
                display: flex;
                justify-content: space-between;
                padding: 25px 0px;

                @media screen and (max-width: $breakpoint-med){
                    padding: 21px 15px;
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
                    row-gap: 10px;
                }

                .yacht-length {
                
                    .yacht-length-text {
                        display: flex;
                        align-items: center;
    
                        p {
                            color: black;
                            font-size: 12px;
                            font-family: Inter;
                            font-weight: 500;
                            margin: 0px 0px 0px 5px;
                        }
                    }
    
                    .yacht-length-value {
    
                        p {
                            color: black;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 14px 0px 0px 0px
                        }
    
                    }
                }
    
                .yacht-beam {
                    
                    .yacht-beam-text {
                        display: flex;
                        align-items: center;
    
                        p {
                            color: black;
                            font-size: 12px;
                            font-family: Inter;
                            font-weight: 500;
                            margin: 0px 0px 0px 5px;
                        }
                    }
    
                    .yacht-beam-value {
    
                        p {
                            color: black;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 14px 0px 0px 0px
                        }
    
                    }
                }
    
                .yacht-cabins {
                    
                    .yacht-cabins-text {
                        display: flex;
                        align-items: center;
    
                        p {
                            color: black;
                            font-size: 12px;
                            font-family: Inter;
                            font-weight: 500;
                            margin: 0px 0px 0px 5px;
                        }
                    }
    
                    .yacht-cabins-value {
    
                        p {
                            color: black;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 14px 0px 0px 0px
                        }
    
                    }
                }
    
                .yacht-guests {
                    
                    .yacht-guests-text {
                        display: flex;
                        align-items: center;
    
                        p {
                            color: black;
                            font-size: 12px;
                            font-family: Inter;
                            font-weight: 500;
                            margin: 0px 0px 0px 5px;
                        }
                    }
    
                    .yacht-guests-value {
    
                        p {
                            color: black;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 14px 0px 0px 0px
                        }
    
                    }
                }
            }
        }
        .yacht-download-brochure-container {
            margin: 23px 0px;
            display: flex;
            gap: 10px;

            @media screen and (max-width: $breakpoint-large){
                margin-bottom: 40px;
            }
            @media screen and (max-width: $breakpoint-small){
                margin: 0px 20px;
            }

            .yacht-download-button {
                background-color: $button-bg-color;
                color: $button-text-color;

                padding: 10px 16px;
                font-size: 18px;
                display: flex;
                align-items: center;
                box-shadow: none;
                border: none;

                &:hover {
                    background-color: $button-bg-color;
                    color: $button-text-color;
                }

                img {
                    margin-right: 8px;
                }
            }

        }
        .yacht-mobile-broker-container {
                display: none;

                @media  screen and (max-width: $breakpoint-large) {
                    display: flex;
                    margin-bottom: 40px;
                }
                @media screen and (max-width: $breakpoint-small){
                    margin: 0px 20px;
                }

                .broker-profile-image {
                    height: 120px;
                    width: 120px;
                    background-color: #D9D9D9;
                }
                
                .broker-info {
                    margin-left: 19px;

                    p {
                        margin: 0px;
                    }
                    .broker-name {
                        color: $main-text-color;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                    .broker-title {
                        color: $secondary-text-color;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        margin-bottom: 19px;
                    }
                    .broker-email {
                        color: $secondary-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        a {
                            color: $secondary-text-color ;

                            &:hover {
                                color: $main-text-color
                            }
                        }
                    }
                    .broker-phone {
                        color: $secondary-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        a {
                            color: $secondary-text-color ;

                            &:hover {
                                color: $main-text-color
                            }
                        }
                    }
                }
        }
        .yacht-mobile-form-container {
            display: none;

            @media screen and (max-width: $breakpoint-large){
                display: block;
            }
            @media screen and (max-width: $breakpoint-small){
                margin: 0px 20px;
            }

            .yacht-form-title {
                color: $secondary-text-color;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                letter-spacing: -0.1px;
                margin-bottom: 30px;
            }

            form {
                width: 100%;
                div {
                    display: block;

                    label {
                        display: block;
                        color: $main-text-color;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 11px;
                        margin-bottom: 10px;
                    }
                    input {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        border-radius: 0px;
                        margin-bottom: 14px;
                        padding: 8px 12px;
                        border: 1px solid #CBD5E1;
                        width: 100%;
                        &:focus {
                            border-radius: 0px;
                        }
                    }
                    select {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        border-radius: 0px;
                        margin-bottom: 14px;
                        padding: 8px 12px;
                        width: 100%;
                        border: 1px solid #CBD5E1;
                    }
                    textarea {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        border-radius: 0px;
                        margin-bottom: 14px;
                        padding: 8px 12px;
                        height: 135px;
                        width: 100%;
                        border: 1px solid #CBD5E1;
                        resize: none;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                        &:focus {
                            border-radius: 0px;
                        }
                    }
                    p {
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 15px;
                        color: #94A3B8;
                        margin: 0;
                        margin-bottom: 14px;
                        a {
                            font-size: 10px;
                            font-weight: 400;
                            color: #94A3B8
                        }
                    }

                }

                .yacht-form-submit {
                    background-color: $button-bg-color;
                    box-shadow: none;
                    border: 0;
                    width: 100%;
                    padding: 8px 12px;
                    margin: auto;
                    color: $button-text-color;

                    &:hover {
                        background-color: $button-bg-color;
                        color: $button-text-color;
                    }
                }
            }

        }
        .yacht-general-description-container {
            margin-bottom: 25px; 
            @media screen and (max-width: $breakpoint-med){
                display: block;
                margin-bottom: 40px;
            }
            @media screen and (max-width: $breakpoint-small){
                margin: 0px 20px;
            }

            .yacht-description-label {
                color: $main-text-color;
                font-size: 18px;
                font-weight: 600;
                line-height: 28px;
                @media screen and (max-width: $breakpoint-med) {
                    margin-bottom: 30px;
                }
            }
            .yacht-description-value {
                
                p, a, ul, ol, li {
                    text-align: left !important;
                    color: $secondary-text-color !important;
                    font-size: 16px !important;
                    font-weight: 400 !important;
                }
                strong, b {
                    font-size: 16px !important;
                }
            }
        }
        .yacht-specs-container {
            display: flex;
            margin-bottom: 74px;

            @media screen and (max-width: $breakpoint-med){
                display: block;
                margin-bottom: 40px;
            }
            @media screen and (max-width: $breakpoint-small){
                margin: 0px 20px;
            }

            .yacht-specs-label {
                width: 33%;
                color: $main-text-color;
                font-size: 18px;
                font-weight: 600;
                line-height: 28px;
            }

            .yacht-specs-value {
                width: 67%;

                @media screen and (max-width: $breakpoint-med){
                    width: 100%;
                }

                .yacht-specs-item {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    border-bottom: 1px solid $divider-color;
                    padding: 20px 0px;

                    .specification-name {
                        color: $main-text-color;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                    }

                    .specification-value {
                        color: $secondary-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
        .yacht-full-details-container {
            width: 100%;
            @media screen and (max-width: $breakpoint-small){
                margin: 0px 20px;
            }

            .yacht-details-label {
                color: $main-text-color;
                font-size: 18px;
                font-weight: 600;
                line-height: 28px;
                margin-bottom: 30px;
                @media screen and (max-width: $breakpoint-med) {
                    margin-bottom: 15px;
                }
            }
            .yacht-details-value {
                width: 100%;

                .yacht-accordion-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid $divider-color;
                    padding: 20px 0px;
                    margin-bottom: 20px;

                    .yacht-accordion-name {
                        color: $main-text-color;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                }

                .yacht-accordion-display {
                    display: none;
                    border-bottom: 1px solid $divider-color;

                    .yacht-accordion-display-item {
                        color: $main-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;

                        .yacht-accordion-display-value {
                            color: $secondary-text-color;
                        }
                    }
                }
            }
        }


    .secondary-container {
        width: 30%;

        @media screen and (max-width: $breakpoint-large){
            display: none;
        }

        .secondary-sub-container {
            margin-top: 98px;
            margin-left: 39px;

            .broker-info-container {
                display: flex;
                margin-bottom: 40px;

                @media screen and (max-width: $breakpoint-x-large) {
                    display: block;
                }

                .broker-profile-image {
                    height: 120px;
                    width: 120px;
                    background-color: #D9D9D9;
                }
                .broker-info {
                    margin-left: 19px;

                    @media screen and (max-width: $breakpoint-x-large) {
                        margin-left: 0px;
                        margin-top: 19px;
                    }

                    p {
                        margin: 0px;
                    }
                    .broker-name {
                        color: $main-text-color;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                    .broker-title {
                        color: $secondary-text-color;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        margin-bottom: 19px;
                    }
                    .broker-email {
                        color: $secondary-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;

                        a {
                            color: $secondary-text-color;
                            
                            &:hover {
                                color: $main-text-color
                            }
                        }
                    }
                    .broker-phone {
                        color: $secondary-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        
                        a {
                            color: $secondary-text-color;

                            &:hover {
                                color: $main-text-color
                            }
                        }
                    }
                }
            }

            .yacht-form-container {

                .yacht-form-title {
                    color: $secondary-text-color;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                    letter-spacing: -0.1px;
                    margin-bottom: 30px;
                }

                form {
                    width: 100%;
                    div {
                        display: block;

                        label {
                            display: block;
                            color: $main-text-color;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 11px;
                            margin-bottom: 10px;
                        }
                        input {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                            border-radius: 0px;
                            margin-bottom: 14px;
                            padding: 8px 12px;
                            border: 1px solid #CBD5E1;
                            width: 100%;
                            &:focus {
                                border-radius: 0px;
                            }
                        }
                        select {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                            border-radius: 0px;
                            margin-bottom: 14px;
                            padding: 8px 12px;
                            width: 100%;
                            border: 1px solid #CBD5E1;
                        }
                        textarea {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                            border-radius: 0px;
                            margin-bottom: 14px;
                            padding: 8px 12px;
                            height: 135px;
                            width: 100%;
                            border: 1px solid #CBD5E1;
                            resize: none;
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                            &:focus {
                                border-radius: 0px;
                            }
                        }
                        p {
                            font-size: 10px;
                            font-weight: 400;
                            line-height: 15px;
                            color: #94A3B8;
                            margin: 0;
                            margin-bottom: 14px;
                            a {
                                font-size: 10px;
                                font-weight: 400;
                                color: #94A3B8
                            }
                        }

                    }

                    .yacht-form-submit {
                        background-color: $button-bg-color;
                        box-shadow: none;
                        border: 0;
                        width: 100%;
                        padding: 8px 12px;
                        margin: auto;
                        color: $button-text-color;

                        &:hover {
                            background-color: $button-bg-color;
                            color: $button-text-color;
                        }
                    }
                }

            }

        }

    }
}