@use "vars";

#ysp-yacht-results-section {
    position: relative;

    &.loading {
        .loader-icon {
            display: flex;
            width: 100%;
            height: 50vh;
            justify-content: center;
            align-items: center;
        }
        
        #ysp-the-yacht-results {
            display: none;
        }

        #ysp-yacht-results-pagination {
            display: none;
        }
    }
    
    &.loaded {
        .loader-icon {
            display: none;
        }
    }
    
    .loader-icon {
        display: none;
    }   

    #ysp-the-yacht-results {

    }
}

#ysp-the-yacht-results {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    .ysp-yacht-item{
        a{
            text-decoration: none !important;
        }

        .ri-image{
            position: relative; 
    
            .yacht-image{
                width: 100%;
                height: 240px;
                object-fit: cover;
                border-radius: 12px 12px 0px 0px;

                @media screen and (max-width: vars.$breakpoint-med) {
                    height: auto !important;
                }
            }

            .ri-price{
                position: absolute;
                bottom: 15px;
                left: 15px;
                padding: 4px 15px;

                border-radius: 6px;
                background: rgba(26, 32, 44, 0.50);
            
                font-size: 18px;
                color: #fafafa;
            }

            .like-me{
                margin: 0px;
                position: absolute;
                top: 15px;
                left: 15px;
                cursor: pointer;

                &.loved path {
                    stroke: vars.$button-bg-color;
                    fill: vars.$button-bg-color;
                }
            }
        }

        .result-item-info{
            padding: 20px;
                
            .ri-top{
                padding-bottom: 15px;
            }

            .ri-bottom{
                border-top: 2px solid #E4ECF7;
                padding: 15px 0px;

                display: flex;
                justify-content: space-between;

                svg{
                    display: inline-block;
                    vertical-align: middle;
                }
            
            }
        }

        .ri-name{
            font-size: 20px;
            color: #000;
        }

        .ri-sub-name{
            color: #718096;
            font-size: 14px;
        }
        

        .ri-location{
            font-size: 14px;
            color: #718096;
            text-transform: capitalize;
        }

        &.ysp-view-grid{
            border-radius: 12px;

            background: var(--White, #FFF);
            box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

            flex: 0 0 calc((100% - 60px) / 3);
            flex-grow: 1;

            @media screen and (max-width: vars.$breakpoint-x-large){
                flex: 0 0 calc((100% - 30px) / 2);
                box-sizing: border-box;
            }

            @media screen and (max-width: vars.$breakpoint-med){
                flex: 0 0 100%;
                box-sizing: border-box;
            }
        }

        &.ysp-view-list{
            display: flex;
            width: 100%;

            border-radius: 12px;
            background: var(--White, #FFF);
            box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

            .ri-image{
                position: relative; 
        
                .yacht-image{
                    width: 370px;
                    border-radius: 12px 0px 0px 12px;
                }
            }

            .result-item-info{
                flex-grow: 1;
            }
        }
    }
}

.ysp-search-tags{
    
    .ysp-tag{
        padding: 4px 6px;
        
        background: #E2E8F0;
        color: #334155;

        font-size: 12px;    

        margin-right: 5px;
        margin-bottom: 5px;

        svg{
            position: relative;
            top: -1px;
        }

    }

}

#ysp-yacht-results-pagination {
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        gap: 20px;
        list-style: none;
        padding-left: 0px;
    }
}

#yachts-compare-bar {
    position: sticky;
    right: 0px;
    bottom: 0px;
    background-color: rgb(0, 43, 73, 0.9);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 100%;
    padding: 25px;
    border-left: 1px solid #000000;
    display: none;

    @media screen and (min-width: vars.$breakpoint-med) {
        display: block;
    }

    #ysp_compare_linkout {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5px;
        text-decoration: none;
    }

    #ysp-compare-previews {
        display: flex;
        gap: 20px;
        
        .ysp-yacht-compare-preview {
            max-width: 200px !important;
            max-height: 400px !important;

            .remove-from-compare {
                float: right;
            }

            .yacht-main-image {
                border-radius: 6px;
                max-height: 120px;
                height: 100%;
                object-fit: cover;
                margin-bottom: 10px;
            }
            .preview-link {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #FFFFFF;
                }

                .yacht-title {
                    margin-bottom: 0px;
                    color: #FFFFFF;
                }
            }
        }
    }
}